.productCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 75vw;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.106);
    background-color: var(--color-background);
}

.productCardDetalles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.productCard h2{
    font-size: 16px;
}

.productCard h3{
    font-size: 0.8rem;
}

.productCard p{
    font-size: 0.6rem;
    font-weight: 300;
    text-align: center;
}

.linkDetalle{
    text-decoration: none;
    color: var(--color-font);
}

.productCard img{
    width: 70%;

}


.linkDetalle{
    width: 4rem;
    height: 30px;
    color: var(--color-font);
    border: 1px solid var(--color-font);
    background: var(--color-background);
    cursor: pointer;
    font-size: 0.6rem;
    font-weight: 500;
    transition: .7s;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkDetalle:hover{
    background-color: var(--color-font);
    color: var(--color-background);
}


@media screen and (min-width: 700px){

    .productCard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 15rem;
        width: 10rem;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.106);
        background-color: var(--color-background);
        transition: 0.5s;
    }

    .productCard h2{
        font-weight: 600;
        text-align: center;
    }

    .productCard h3{
        font-size: 0.6rem;
    }

    .productCard p{
        font-size: 0.4rem;
        font-weight: 300;
        text-align: center;
    }

    .productCard:hover{
        width: 12rem;
    }

    .linkDetalle{
        width: 3rem;
        text-decoration: none;
        color: var(--color-font);
        font-size: 0.4rem;
    }

    .productCard-lol{
        width: 12rem;
    }
}


@media screen and (min-width: 1400px){

    .productCard{
        height: 20rem;
        width: 15rem;
        transition: 0.7s;
        margin: 1rem;
        box-shadow: none;
    }

    .productCard h3{
        font-size: .7rem;
    }

    .productCard p{
        font-size: 0.7rem;
        font-weight: 400;
    }

    .productCard:hover{
        width: 16rem;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.106);
    }

    .linkDetalle{
        width: 5rem;
        font-size: 0.6rem;
    }

    .productCardDetalles{
        gap: 20px;
    }


}