.formularioUsuario{
    display: flex;
    flex-direction: column;
    width: 70vw;
    gap: 6vh;
    margin: 0 auto;
    margin-top: 15vh;
    margin-bottom: 5vh;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.106);
    padding: 2rem;
    border-radius: 5px;
}

.formularioUsuario h2{
    color: var(--color-font);
}

.inputBox{
    border-bottom: 1px solid var(--color-font);
    position: relative;
}

.inputBox label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: var(--color-soft-font);
    font-size: 15px;
    font-weight:300;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label{
    top: -5px;
    color: var(--color-font);
    font-weight: 500;
}

.inputBox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0 35px 0 5px;
}

.formularioUsuario button{
    width: 100%;
    height: 40px;
    color: var(--color-font);
    border: 1px solid var(--color-font);
    background: var(--color-background);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: .7s;
    border-radius: 2px;
}

.formularioUsuario button:hover{
    background-color: var(--color-font);
    color: var(--color-background);
}