@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


:root{
    --color-background: #FFFFFF;
    --color-font: #222222;
    --color-soft-font: #4e4e4e;
    --background-total: #F6F9FA;
    --color-footer: #E4E5E4;
    --color-lastF: #1E1D1D;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.7rem 0rem 0.7rem;
    background-color: var(--background-total);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.106);
    z-index: 9999;
    position: sticky;
    top: 0;
}

.logo{
    height: 7vh;
    cursor: pointer;
}

.navLink{
    text-decoration: none;
    color: var(--color-font);
    font-size: 1rem;
}

.navLink span{
    display: none;
}

.boxLink{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footerBar{
    background-color: var(--color-footer);
    height: auto;
    position: sticky;
    z-index: 99;
}

.zeroF{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.zeroF h2{
    font-size: 1rem;
}

.zeroF-nav{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.7rem;

}

.navLink2{
    text-decoration: none;
    color: var(--color-font);
    font-size: 0.6rem;
}

.firstF h2{
    font-size: 1rem;
}

.firstF{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.firstF-imgs{
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;

}

.firstF-imgs .bi{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-lastF);
    color: var(--color-background);
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    padding: 1.2rem;
    cursor: pointer;
}

.secondF{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.secondF-imgs{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.secondF-imgs img{
    width: 2rem;
}

.secondF h2{
    font-size: 1rem;
}

.thirdF h2{
    font-size: 1rem;
}

.thirdF{
    padding: 0.5rem 0.7rem 0.5rem 0.7rem;
}

.thirdF img{
    width: 2rem;
    margin: 0.7rem;
}

.lastF{
    background-color: var(--color-lastF);
    height: 5vh;
    color: var(--color-background);
    font-size: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lastF h3{
    font-weight: 300;
}


.btn-wsp{
    position: fixed;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    bottom: 1rem;
    right: 1rem;
    background-color: #4DC346;
    color: var(--color-background);
    text-align: center;
    font-size: 0.9rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    border-radius: 50%;
    transition: 0.2s;
}

.btn-wsp:hover{
    text-decoration: none;
    color: #4DC346;
    background-color: var(--color-background);
}






.divPadre{
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.359);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flip-square:before {
    -webkit-animation: flip-square 0.9s infinite;
    animation: flip-square 0.9s infinite;
    background-color: var(--color-lastF);
    content: '';
    display: block;
    height: 2rem;
    width: 2rem; }

@-webkit-keyframes flip-square {
    0% {-webkit-transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg); transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg); }
    50% {-webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg); transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg); }
    100% {-webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg); transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg); } }

@keyframes flip-square {
    0% {-webkit-transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg); transform: perspective(50px) rotate(45deg) rotateX(0deg) rotateY(0deg); }
    50% {-webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg); transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(0deg); }
    100% {-webkit-transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg); transform: perspective(50px) rotate(45deg) rotateX(-180deg) rotateY(-180deg); } }





@media screen and (min-width: 500px){
    html{
        font-size: 25px;
        }
}

@media screen and (min-width: 700px){

    .navBar{
        padding: 0.5rem 0.7rem;
    }

    .navLink{
        display: flex;
        align-items: center;
        gap: 0.2rem;
    }

    .boxLink .navLink{
        padding: 0.1rem;
        font-weight: 300;
        cursor: pointer;
    }

    .navLink i{
        font-size: 0.6rem;
    }
    .navLink span{
        display:grid;
        font-size: 0.5rem;
    }

    .zeroF h2{
        font-size: 0.5rem;
    }

    .zeroF .navLink2{
        font-size: 0.4rem;
    }

    .firstF h2{
        font-size: 0.5rem;
    }
    
    .firstF-imgs .bi{
        height: 0.1rem;
        width: 0.1rem;
        padding: 0.6rem;
        cursor: pointer;
        font-size: 0.5rem;
    }

    .lpm{
        display: flex;
    }

    .lrpm{
        display: flex;
    }

    .lrpmqlp{
        display: flex;
    }

    .secondF h2{
        font-size: 0.5rem;
    }

    .secondF-imgs{
        gap: 0.2rem;
    }

    .secondF-imgs img{
        width: 0.8rem;
    }

    .thirdF h2{
        font-size: 0.5rem;
    }

    .thirdF img{
        width: 0.8rem;
        margin: 0.5rem;
    }

    .firstF{
        border-bottom: none;
    }
}

@media screen and (min-width: 1400px){

    .navBar{
        padding: 1rem 3rem;
    }

    .navLink{
        display: flex;
        align-items: center;
        gap: 0.3rem;
        border-radius: 10px;
        transition: 0.7s;
    }

    .boxLink .navLink{
        padding: 0.2rem 0.5rem;
        font-weight: 500;
        cursor: pointer;
    }

    .navLink i{
        font-size: 1.3rem;
    }
    .navLink span{
        font-size: 0.7rem;
    }

    .boxLink .navLink:hover{
        background-color: rgba(0, 0, 0, 0.084);
        color: var(--color-background);
    }

    .btn-wsp{
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        font-size: 1.8rem;
    }
    
    .zeroF h2{
        font-size: 1rem;
    }

    .zeroF .navLink2{
        font-size: 0.6rem;
    }

    .firstF h2{
        font-size: 1rem;
    }
    
    .firstF-imgs .bi{
        padding: 1rem;
        font-size: 0.8rem;
    }

    .secondF h2{
        font-size: 1rem;
    }

    .secondF-imgs{
        gap: 1rem;
    }

    .secondF-imgs img{
        width: 2rem;
    }

    .thirdF h2{
        font-size: 1rem;
    }

    .thirdF img{
        width: 2.4rem;
    }

    .zeroF{
        margin-right: 5rem;
    }

    .lpm{
        display: flex;
        margin-right: 5rem;
        margin-left: 2rem;
    }

    .lrpm{
        display: flex;
        margin-right: 5rem;
    }

    .lrpmqlp{
        display: flex;
    }

}