.productsHome{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 0.7rem 2rem 2rem 2rem;
    background-color: var(--background-total);
}

.back{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--background-total);
}

.back h1{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.back h2{
    font-size: 0.8rem;
}

.inputPrecio{
    border: none;
    border-bottom: 1px solid var(--color-font);
    outline: none;
    background-color: var(--background-total);
    color: var(--color-soft-font);
    font-weight: 200;
    width: 5rem;
    font-size: 0.7rem;
}

.inputPrecio::-webkit-inner-spin-button,
.inputPrecio::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.inputFilters{
    display: flex;
    gap: 1rem;
}

.inputSearch{
    margin-top: 1.4rem;
    font-size: 0.6rem;
    width: 50vw;
    height: 1.3rem;
    padding-left: 0.2rem;
    transition: 0.3s;
}

.father{
    position: relative;
}

.son{
    position: absolute;
    font-size: 0.6rem;
    color: var(--color-soft-font);
    top: 60%;
    left: 90%
}

.inputSearch:focus {
    border: 1px solid var(--color-font);
    border-radius: 2px;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.164);
    outline: none;
}




@media screen and (min-width: 700px){

    .productsHome{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
        background-color: var(--background-total);
    }

}


@media screen and (min-width: 1400px){

    .inputSearch{
        width: 25vw;
    }

    .son{
        left: 95%
    }


}